/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: #f0f4f8;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  
  /* NAVBAR */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #4a90e2;
  }
  
  /* HEADER */
  header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 2rem;
  }
  
  /* MAIN */
  main {
    flex: 1;
    text-align: center;
    padding: 2rem;
  }

  .intro__title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .intro__text {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .intro__input {
    padding: 0.5rem;
    width: 200px;
    font-size: 1.5rem;
  }

  .intro__button {
    padding: 0.5rem 1.2rem;
    font-size: 1.1rem;
    margin-left: 1rem;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }

  /*IMAGENES*/

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    padding: 16px;
    gap: 20px;
    align-items: stretch;
    .gallery__card {
        border-radius: 14px;
        overflow: hidden;
        border: 1px solid black;

        &:hover {
            animation: chanci 5s ease;
        }

        img {
            display: block;
            width: 100%;
            object-fit: contain;
            height: 500px;
        }

        p {
            padding: 0.75rem 0.9rem;
            font-size: 1.5rem;
            border-top: 1px solid red;
        }
    }
  }

  /* FOOTER */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  /* ESTILOS PÁGINA EN CONSTRUCCIÓN */
  .construccion {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
  }

  .img-construccion {
    width: 300px;
    max-width: 90%;
    margin-top: 2rem;
  }
  
  @media (max-width: 480px) {
    .gallery {
      grid-template-columns: 1fr;
    }
  }

  @keyframes chanci {
    0% {
      opacity: 0;
    }

    30% {
      opacity: 0.2;
    }

    60% {
      opacity: 0.5
    }

    100% {
      opacity:1
    }
  }